@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,500,700&display=swap');


html {
	--col-bg: #093957;	
	--col-bg-on: #ffffff;	
	--col-bg-b: #0065a4;
	--col-bg-b-on: #ffffff;
	--col-bg-2: #EDF3FF;
	--col-bg-2-on: #004570;
	--hover: #3683B3;
}

body {	
	font: 1em 'Merriweather Sans', arial, sans-serif;
	line-height: 1;
	background-color: var(--col-bg);
	color: var(--col-bg-on);
	width: 100%;
}

h1 {
	font-size: 1em;
	font-weight: 700;
}

h2 {
	font-weight: 400;
}

ul {
	font-size: 1rem;
	font-weight: 300;
}

li {
	list-style: none;
	font-weight: 300;
	font-size: .9rem;
}
p {
	font-weight: 300;
	font-size: 0.9rem;
}
a{
	text-decoration: none;
	font-size: .9rem;
	font-weight: 300;
}
button {
	background: transparent;
	border: none;
}
i {
	color: var(--col-bg-b-on)
}
.logo-bar {
	width: 100%;
	max-height: 5rem;
    text-align: middle;
    margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 1rem;
	background-color: var(--col-bg-b);
	position: fixed;
	z-index: 2;
	
}
/* .logo-bar li{
    display: inline-block;
    padding: 0px;
} */
.logo-bar a{
	color: var(--col-bg-b-on);
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: var(--col-bg);
	width: 100%;
	font-weight: 300;
	font-size: 0.875rem;
}

.menu {
	text-align: center;
	padding: 1.5rem 0;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown-menu a:hover{
	background: #CCCCCC;
	color: var(--col-bg-b-on);
}
.dropdown-menu a{
	display: block;
	padding: 0.7rem;
	color: var(--col-bg-on);
	border-bottom: 0.02rem solid var(--col-bg-on);
}
.logo-bar img{
	max-height: 5em;
}
.menu-categories li {
	display: block;
}
.logo {
	text-align: center
}
.search-bar {
	display: none;
}
.top-search {
	place-self: center;
}
.breadcrumbs li{
	display: inline-block;
	font-size: 0.8rem
}
.breadcrumbs span {
	font-size: 0.8rem;
}
.breadcrumbs a {
	color: var(--col-bg-b-on);
	opacity: 0.5;
}
.current a{
	color: var(--col-bg-b-on);
	opacity: 1;
}
.breadcrumbs {
	padding: 5rem 0 0.5rem 0;
	text-align: center;
}
.title {
	background-color: var(--col-bg-b);
	color: var(--col-bg-b-on);
	height: 3rem;
	width: 100%;
	padding: 1rem 0 1rem 0;
	text-align: center;
	text-transform: uppercase;
}

.IDD-bar{
	padding: 2em 0;
}
.IDD-bar li{
	display: inline-block;
}

.detail {
	display: inline-grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
	bottom: 6rem;
	color: var(--col-bg-b-on);
	padding: 0 1rem;
}
.detail dt {
	font-size: 0.8rem;
	font-weight: 700;
	padding: 0.7rem 0 0.3rem 0
}
.detail dd {
	font-size: 0.7rem;
	font-weight: 300
}
.about {
	padding: 0 1rem 1rem 1rem
}
.about p{
	line-height: 1.5rem;
	padding: 1rem 0
	/* letter-spacing: 0.02rem; */
}
.about h2 {
	padding-bottom: 1rem;
	border-bottom: .05rem solid var(--col-bg-b-on);
}


.courses {
	padding: 1rem 1rem;
	position: relative;
	background-color: var(--col-bg-2);
	color: var(--col-bg-2-on);
}
.courses h2 {
	padding: 1rem 0;
	border-bottom: .05rem solid var(--col-bg-2-on);
}
.course-hover {
	display: grid;
	width: 100%;
	grid-template-columns: auto auto;
	align-self: center;
}
.course-hover ul {
	padding: 1rem 1rem;
	color: var(--col-bg-2-on);
}
.course-hover button {
	text-align: right;
}
.course-hover i {
	color: var(--col-bg-2-on);
}
.course-hover:hover {
	background-color: var(--hover);
}
.course-hover:hover ul {
	color: var(--col-bg-2);
}
.drop-course {
	display: none;
	padding: 0 2rem;
}
.drop-course li{
	display: block;
	padding: 0.6rem;
}
.drop-course a{
	display: block;
	text-align: center;
	padding: .5rem;
}
.course-dropdown1:hover .sem1 {
	display: block;
}
.course-dropdown2:hover .sem2 {
	display: block;
}
.course-dropdown3:hover .sem3 {
	display: block;
}
.course-dropdown4:hover .sem4 {
	display: block;
}
.course-dropdown5:hover .sem5 {
	display: block;
}
.course-dropdown6:hover .sem6 {
	display: block;
}

.careers {
	padding: 1rem;
}
.careers h2 {
	padding: 1rem 0;
	border-bottom: .05rem solid var(--col-bg-b-on);
}

.careers li {
	padding: .75rem 1rem
}

.portfolio {
	background-color: var(--col-bg-2);
	color: var(--col-bg-2-on);
	padding: 1rem;
}
.portfolio h2 {
	padding: 1rem 0;
	border-bottom: .05rem solid var(--col-bg-2-on)
}
.portfolio-photos {
	display: grid;
	grid-template-columns: auto auto auto;
	place-items: center;
}
.portfolio ul {
	padding: 1rem 0
}
.portfolio-photos li {
	padding: 0.2rem;
	align-self: center;
	width: auto;
	max-width: 10rem;
	text-align: center;
}
footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.footer {
	background-color: var(--col-bg-b);
	padding: 1rem;
}

.footer li{
	font-size: 0.7rem;
	display: grid;
	grid-template-columns: auto auto;
	padding: 0.2rem;
}
.footer a {
	color: var(--col-bg-b-on);
	font-size: 0.7rem;
}
.connect-word {
	align-self: center
}
.connect img {
	max-width: 1.5rem;
	padding: 0.2rem;
}
.connect li {
	padding: 0.2rem;
}
.copyright {
	grid-column: 1 / span 2;
}
.copyright p{
	font-size: 0.6rem;
	
}
/*widget*/
.widget {
    position: fixed;
    right: 1em;
    bottom: 0;
    padding: 1em 1.5em;
	background-color: var(--col-bg-on);
	color: var(--col-bg);
    opacity: 0.8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media screen and (min-width: 600px) {
	.detail {
		display: inline-grid;
		grid-template-columns: repeat(4, auto);
		position: relative;
		bottom: 4rem;
		color: var(--col-bg-b-on);
		padding: 0 1rem;
		width: 100%;
	}
	.ID-careers {
		display: grid;
		grid-template-columns: auto auto
	}
	.portfolio-photos li {
		width: 9rem;
	}
}
@media screen and (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
		display: none;
	}
	.logo-bar {
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 0rem;
		background-color: var(--col-bg-b);
	}
	.logo {
		grid-column-start: 1;
	}
	.dropdown {
		grid-column: 2;
	}

	.top-search {
		grid-column-start: 6;
	}
	.dropdown-menu {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		/* position: relative;
		top: 6rem; */
		background-color: var(--col-bg-b);
		width: auto;
		text-align: center;
		padding: 1rem 0;
	}
	.dropdown-menu a {
		font-weight: 700;
		border: none;
	}
	.menu {
		display: none;
	}

	.portfolio-photos {
		grid-template-columns: auto auto auto auto auto auto;
	}

	.portfolio-photos li {
		padding: 0.2rem;
		width: auto;
	}
}

@media screen and (min-width: 880px) {
	h1 {
		font-size: 1em;
		font-weight: 700;
	}
	
	h2 {
		font-weight: 400;
	}
	
	ul {
		font-size: 1rem;
		font-weight: 300;
	}
	
	li {
		list-style: none;
		font-weight: 300;
		font-size: .9rem;
	}
	p {
		font-weight: 300;
		font-size: 0.9rem;
	}
	a{
		text-decoration: none;
		font-size: .9rem;
		font-weight: 300;
	}
	h1 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	
	h2 {
		font-size: 1.2rem;
		font-weight: 400;
	}
	
	ul {
		font-size: 1.3rem;
		font-weight: 300;
	}
	
	li {
		list-style: none;
		font-weight: 300;
		font-size: 1.1rem;
	}
	p {
		font-weight: 300;
		font-size: 1.1rem;
	}
	a{
		text-decoration: none;
		font-size: 1rem;
		font-weight: 300;
	}
	
	.logo-bar {
		grid-template-columns: repeat(6, 1fr);
	}
	
	.top-search {
		display: grid;
		grid-template-columns: auto auto;
	}
	
	.top-search i {
		position: relative;
		left: 12rem;
		color: var(--col-bg-b)
	}
	.search-bar {
		display: block;
		margin-right: 1rem;
	}
	.breadcrumbs {
		position: fixed;
		top: 1rem;
		background-color: var(--col-bg);
		color: var(--col-bg-b-on);
		width: 100%;
		min-height: 7rem;
		z-index: 1;
	}
	.detail {
		padding: 0 5rem;
	}
	.detail dt{
		font-size: 1rem;
	}
	.detail dd {
		font-size: 0.8rem;
	}
	.about {
		padding: 1rem 5rem;
	}
	.courses {
		padding: 1rem 5rem;
	}
	.careers {
		padding: 1rem 5rem;
	}
	.portfolio {
		padding: 1rem 5rem;
	}
	.footer {
		padding: 1rem 5rem;
	}
	.footer li {
		font-size: 0.8rem;
	}
	
}

@media screen and (min-width: 1000px) {
	.detail {
		bottom: 10rem;
		justify-items: center;
	}
	.logo-bar {
		max-height: 7rem;
		align-items: center;
	}
	.logo-bar img{
		max-height: 7rem;
	}
	
	.dropdown-menu {
		padding: 2rem 0 0 2rem;
	}
	.dropdown-menu a {
		padding: auto;
	}
	.top-search i {
		left: 12rem;
	}
	.search-bar {
		margin-right: 3rem;
	}
	
	.breadcrumbs {
		position: fixed;
		top: 3rem;
		width: 100%;
		min-height: 7rem;
	}
	.breadcrumbs a{
		font-size: 1rem;
	}
	.detail dt{
		font-size: 1.2rem;
	}
	.detail dd {
		font-size: 1rem;
	}
}